@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .card {
    @apply  shadow-md;
  } */
}
.select-rm {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
@layer base {
  .icons {
    @apply w-5 h-5;
  }
  .textarea-edit {
    @apply textarea textarea-bordered textarea-sm h-40 w-full;
  }
  .product-desc-h {
    @apply card-title text-xl sm:text-2xl font-bold;
  }
  .product-desc-p {
    @apply mt-2 text-sm sm:text-[1rem] md:text-lg;
  }
  .product-desc-li {
    @apply flex items-center gap-2 font-semibold text-sm sm:text-[1rem] md:text-lg;
  }
  .product-icon {
    @apply btn  btn-sm btn-square btn-outline;
  }

  .shadow-top {
    box-shadow: 0px -1px 10px 1px /* theme('colors.primary') */ rgba(
        0,
        0,
        0,
        0.172
      ) /* 

    ; */;
  }

  .TEST_CSS {
    @apply border-red-500 border-2;
  }
  .card-shadow {
    @apply shadow shadow-slate-700;
  }

  .title-sm {
    @apply md:text-2xl sm:text-lg;
  }

  .title-md {
    @apply md:text-3xl sm:text-xl text-lg;
  }
}
@layer components {
  /* table {
    @apply table table-zebra table-xs table-auto bg-base-100;
  } */
}
/* box-shadow:
rgba(17, 17, 26, 0.1) 0px 4px 16px, 
rgba(17, 17, 26, 0.05) 0px 8px 32px; */
